* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Inicio Menu*/
.menu {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: white;
}

.logo {
margin-left: 20px;
}

.logo img{
  margin: 10px;
  border-radius: 5px;
}

.menu ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu ul li{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
  
}

.menu :hover{
  color: brown;
}
/* Fim Menu*/

/* Inicio Parceiros*/
.parceiros h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.parceiros {
  background-color: brown;
  width: 100%;
  padding: 20px;
}

.parceiros img {
  width: 20%;
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
/* Fim Parceiros*/

/* Inicio Historia*/
.historia {
  padding: 50px;
}

.historia h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.historia p {
  margin-top: 50px;
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
}

.historia img {
  max-width: 400px;
  margin-top: 50px;
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* Fim Historia*/

/* Inicio Serviços*/
.serviços{
  padding: 50px;
}

.serviços h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.serviços p {
  margin-top: 50px;
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
}

.serviços img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 500px;
  padding: 30px;
  border-radius: 50px;
}
/* Fim Serviços*/

/* Inicio Contato*/
.contato {
  width: 100%;
}

.contato h2{
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
}
/* Fim Contato*/

/* Inicio Formulario*/
.formulario {
  font-size: 15px;
  padding: 20px;
}

.formulario label {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.formulario input {
  width: 60%;
  padding: 5px;
  border: 1px black solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

#submit {
  background-color: brown ;
  display: block;
  font-weight: bold;
}
/* Fim Formulario*/

/* Inicio Endereço*/
.endereço {
  width: 100%;
  padding: 100px;
}

.endereço h2 {
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}

.endereço p {
  font-size: 20px;
  text-align: left;
  padding: 5px;
  cursor: pointer;
}

.endereço a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  
}

.form-maps {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}
/* Fim Endereço*/


/* Inicio Footer*/
.footer p {
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.icons {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.inicio a{
  display: block;
  font-size: 20px;
  font-weight: bold;
  background: brown;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 0 auto 20px auto;
  width: 100px;
  border-radius: 25px;
}

.inicio :hover {
  color: white;
}
/* Fim Footer*/

/* Inicio Responsivo*/

@media only screen and (max-device-width: 500px) {
  .menu  {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .parceiros img {
      width: 50%;
    }
    
    .img {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      gap: 50px;
    }
  
  .form-maps {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    }

  .endereço {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: auto;
   margin-left: auto;
  }

  .contato{
    text-align: center;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}
