* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: white;
}

.logo {
margin-left: 20px;
}

.logo img{
  margin: 10px;
  border-radius: 5px;
}

.menu ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu ul li{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

.parceiros h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.parceiros {
  background-color: brown;
  padding: 20px;
}

.parceiros img {
  width: 10%;
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.historia {
  padding: 50px;
}

.historia h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.historia p {
  margin-top: 50px;
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
}

.historia img {
  margin-top: 50px;
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.serviços{
  padding: 50px;
}

.serviços h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.serviços p {
  margin-top: 50px;
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
}

.serviços img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 500px;
  padding: 30px;
  border-radius: 50px;
}

.contato {
  width: 100%;
}

.contato h2{
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
}

.formulario {
  font-size: 15px;
  padding: 20px;
}

.formulario label {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}

.formulario input {
  width: 60%;
  padding: 5px;
  border: 1px black solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

#submit {
  background-color: red ;
  display: block;
 
}

.endereço {
  width: 100%;
  padding: 100px;
}

.endereço h2 {
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}

.endereço p {
  font-size: 20px;
  text-align: left;
  padding: 5px;
  
}

.form-maps {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.footer p {
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.icons {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}
